.events-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .event {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #pagination-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  #pagination-buttons button {
    margin: 0 10px;
    background-color: lightslategray;
    color: white;
    border: 1px solid grey;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;

  }

  #registration-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.registration-item {
    border: 1px solid #ccc;
    padding: 10px;
}
#registration-form {
text-align: center;
font-size: 22px;
}

#registration-form input {
  width: 200px;
  margin-bottom: 10px;
  font-size: 22px;
  }

h1 {
  text-align: center;
}

#sorting-buttons {
  text-align: center;
}

button {
  margin: 10px;
}

#searchInput {
display: block;
margin: 0 auto;
padding: 10px;
}

#registration-list {
  margin-top: 10px;
}